# Xcode
build/
DerivedData/
.derivedData
dist/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcworkspace/xcuserdata/
_0/

# SPM
.build/
.swiftpm/

# macOS
.DS_Store
*.swp
*~

# Archives
*.ipa
*.dSYM.zip
*.dSYM

# Sparkle
*.dmg
*.zip
